apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: <ENCODED INFO>
    extensions:
    - extension:
        last-update: Fri, 24 May 2024 18:38:29 UTC
        provider: minikube.sigs.k8s.io
        version: v1.33.1
      name: cluster_info
    server: https://<IP>:8443
  name: minikube
contexts:
- context:
    cluster: minikube
    extensions:
    - extension:
        last-update: Fri, 24 May 2024 18:38:29 UTC
        provider: minikube.sigs.k8s.io
        version: v1.33.1
      name: context_info
    namespace: default
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: minikube
  user:
    client-certificate-data: <ENCODED INFO>
    client-key-data: <ENCODED INFO>